*{
    padding:0;
    margin: 0;
}

.container{
    position: relative;
    border: 20px solid black;
    border-radius: 50px;
    background-color: rgb(228, 229, 230);
    width: 24vw;
    height: 90vh;
    margin: 10px auto;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

h1{
    padding-top: 30px;
    margin-left: 5px;
}

#add{
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(214, 216, 216);
    height: 34px;
    outline: none;
    border: none;
    border-radius: 10px;
    text-align: center;
}

h4{
    padding-top: 30px;
    margin-left: 5px;
    padding-bottom: 10px;
}

#task_div{
    display: flex;
    flex-direction: column;
    margin-left: 5px;  
    margin-right: 10px;
}

span{
    background-color: white;
    padding-left: 20px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.plus{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 24px;
}

#submitTask{
    border: none;
    background-color: transparent;
}